@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-albero: #e5b13a;
  --animate-float: float 8s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(30px) scale(1.05);
  }
}

@utility prose-albero {
  --tw-prose-links: var(--color-albero);
  --tw-prose-quotes: var(--color-albero);
  --tw-prose-quote-borders: var(--color-albero);
  --tw-prose-bullets: var(--color-albero);
}

@variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-albero);
}

.reveal-text {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 1.8s cubic-bezier(0.5, 0, 0, 1),
    transform 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-card {
  opacity: 0;
  transform: scale(0.95) translateY(20px);
  transition:
    opacity 0.8s cubic-bezier(0.5, 0, 0, 1),
    transform 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-text.is-visible,
.reveal-card.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.delay-100 {
  transition-delay: 100ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-300 {
  transition-delay: 300ms;
}

@media (min-width: 768px) {

  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}