<section id="formacion" class="py-20 border-t border-white/10">
  <h2 class="text-3xl font-bold mb-10 reveal-text">Formación</h2>

  <div class="border-l border-white/20 ml-3 md:ml-4 space-y-12">
    <div class="relative pl-8 md:pl-12">
      <div class="absolute w-3 h-3 bg-albero rounded-full -left-[6.5px] top-2">
      </div>
      <h3 class="text-xl font-semibold text-white/80 reveal-text">
        Ingeniería Informática en Sistemas de Información
      </h3>
      <p class="text-albero text-sm font-medium mb-3 reveal-text">
        Universidad Pablo de Olavide • 2022 - Actualidad
      </p>
      <p
        class="text-neutral-400 leading-relaxed text-sm md:text-base reveal-text"
      >
        Diseño de Software, APIs, Algoritmia, Machine Learning, Análisis de
        Datos y Gestión de Sistemas y BBDD.
      </p>
    </div>

    <div class="relative pl-8 md:pl-12">
      <div
        class="absolute w-3 h-3 bg-white/20 rounded-full -left-[6.5px] top-2"
      >
      </div>
      <h3 class="text-xl font-semibold text-white/80 reveal-text">
        Formación sobre ML & DL
      </h3>
      <p class="text-neutral-500 text-sm font-medium mb-3 reveal-text">
        Autoaprendizaje • 2026
      </p>
      <p
        class="text-neutral-400 leading-relaxed text-sm md:text-base reveal-text"
      >
      </p>
    </div>
  </div>
</section>
