---
import { getLangFromUrl } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
---

<section
  id="formacion"
  class="py-20 border-t border-neutral-200 dark:border-white/10"
>
  <h2
    class="text-3xl font-bold mb-10 text-neutral-900 dark:text-white reveal-text"
  >
    {lang === "es" ? "Formación" : "Education"}
  </h2>

  <div
    class="border-l border-neutral-300 dark:border-white/20 ml-3 md:ml-4 space-y-12"
  >
    <div class="relative pl-8 md:pl-12">
      <div class="absolute w-3 h-3 bg-albero rounded-full -left-[6.5px] top-2">
      </div>

      <h3
        class="text-xl font-semibold text-neutral-900 dark:text-white reveal-text"
      >
        {
          lang === "es"
            ? "Ingeniería Informática en Sistemas de Información"
            : "B.S. in Computer Engineering & Information Systems"
        }
      </h3>

      <p class="text-albero text-sm font-medium mb-3 reveal-text">
        {
          lang === "es"
            ? "Universidad Pablo de Olavide • 2022 - Actualidad"
            : "Universidad Pablo de Olavide • 2022 - Present"
        }
      </p>

      <p
        class="text-neutral-600 dark:text-neutral-400 leading-relaxed text-sm md:text-base reveal-text"
      >
        {
          lang === "es"
            ? "Diseño de Software, APIs, Algoritmia, Machine Learning, Análisis de Datos y Gestión de Sistemas y BBDD."
            : "Software Design, APIs, Algorithms, Machine Learning, Data Analysis, and Systems & Database Management."
        }
      </p>
    </div>

    <div class="relative pl-8 md:pl-12">
      <div
        class="absolute w-3 h-3 bg-neutral-300 dark:bg-white/20 rounded-full -left-[6.5px] top-2"
      >
      </div>

      <h3
        class="text-xl font-semibold text-neutral-900 dark:text-white reveal-text"
      >
        {
          lang === "es"
            ? "Formación sobre ML & DL"
            : "Machine & Deep Learning Training"
        }
      </h3>

      <p class="text-neutral-500 text-sm font-medium mb-3 reveal-text">
        {lang === "es" ? "Autoaprendizaje • 2026" : "Self-taught • 2026"}
      </p>

      <p
        class="text-neutral-600 dark:text-neutral-400 leading-relaxed text-sm md:text-base reveal-text"
      >
      </p>
    </div>
  </div>
</section>
