---
import { getLangFromUrl, useTranslations } from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="experiencia"
  class="border-t border-neutral-200 py-20 dark:border-white/10"
>
  <h2
    class="reveal-text mb-10 text-3xl font-bold text-neutral-900 dark:text-white"
  >
    {t("experience.title")}
  </h2>

  <div
    class="ml-3 space-y-12 border-l border-neutral-300 md:ml-4 dark:border-white/20"
  >
    <div class="relative pl-8 md:pl-12">
      <div
        class="absolute top-2 -left-[6.5px] h-3 w-3 rounded-full bg-neutral-300 dark:bg-white/20"
      >
      </div>

      <h3
        class="reveal-text text-xl font-semibold text-neutral-900 dark:text-white"
      >
        {t("experience.job1_title")}
      </h3>

      <p class="reveal-text mb-3 text-sm font-medium text-neutral-500">
        Cambia la Dinámica SL • 2023 - 2025
      </p>

      <p
        class="reveal-text text-sm leading-relaxed text-neutral-600 md:text-base dark:text-neutral-400"
      >
        {t("experience.job1_desc1")}
        <br />
        {t("experience.job1_desc2")}
      </p>
    </div>
  </div>
</section>
