<section class="py-32 flex flex-col items-start gap-6">
  <h1 class="text-5xl md:text-7xl font-bold tracking-tight">
    Hola, soy <span class="text-albero">Pablo</span>.
  </h1>
  <p
    class="text-lg md:text-xl text-neutral-400 max-w-1xl leading-relaxed reveal-text"
  >
    Estudiante de último año de <b
      >Ingeniería Informática en Sistemas de Información</b
    >, enfocado en el desarrollo de software y la optimización de procesos
    tecnológicos. Con sólidos conocimientos en algoritmia, Machine Learning y
    gestión de proyectos entre otros, busco aportar soluciones técnicas
    innovadoras que promuevan el crecimiento de la organización. Comprometido
    con la excelencia y el aprendizaje continuo, busco integrar mis competencias
    en el sector de la ingeniería para generar un impacto positivo y medible en
    los resultados del equipo.
  </p>
  <a
    href="#contacto"
    class="mt-4 px-6 py-3 bg-white text-black font-semibold rounded-full hover:bg-albero transition-colors duration-300 reveal-card"
  >
    Contactar
  </a>
</section>
